<a id="toc"></a>
<h1>Template Syntax</h1>
<a href="#interpolation">Interpolation</a><br>
<a href="#expression-context">Expression context</a><br>
<a href="#statement-context">Statement context</a><br>



<!-- interpolation -->

<hr><h2 id="interpolation">Interpolation</h2>
<p>My current hero is {{currentHero.name}}</p>
<h3>
  {{title}}
  <img src="{{heroImageUrl}}" style="height:30px">
</h3>
<p>The sum of 1 + 1 is {{1 + 1}}</p>
<p>The sum of 1 + 1 is not {{1 + 1 + getVal()}}</p>

<a class="to-toc" href="#toc">top</a>


<!-- expression-context -->

<hr><h2 id="expression-context">Expression context</h2>
<p>Component expression context (&#123;&#123;title&#125;&#125;, [hidden]="isUnchanged")</p>
<div class="context">
  {{title}}
  <span [hidden]="isUnchanged">changed</span>
</div>
<p>Template input variable expression context (let hero)</p>
<!-- template hides the following; plenty of examples later -->
<ng-template>
  <div *ngFor="let hero of heroes">{{hero.name}}</div>
</ng-template>

<p>Template reference variable expression context (#heroInput) 模版引用变量</p>
<div (keyup)="0" class="context">
  Type something:
  <input #heroInput> {{heroInput.value}}
</div>

<a class="to-toc" href="#toc">top</a>


<!-- Statement context -->

<hr><h2 id="statement-context">Statement context</h2>
<p>Component statement context ( (click)="onSave() )</p>

<router-outlet></router-outlet>
